<div class="container">
    <div class="row">
        <% @products.each do |product| %>
            <% if product.is_on_sale? %>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="<%= product.image['url']%>" alt="">
                        <div class="caption">
                            <% if product.is_on_sale? %>
                                <h4 class="pull-right">R$ <%= product.price %>,00</h4>
                            <% else %>
                                <h4 class="pull-right">VENDIDO</h4>
                            <% end %>
                            <h4><a href="/products/show?id=<%= product.id %>"><%= product.title %></a></h4>
                            <p><%= product.description %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
